.App {
  text-align: left;
  background-color: #e0e4ef;
}

main {
  margin: 0 auto;
  font-family: 'Kanit';
  line-height: 1;
}

section {
  margin: 0 auto;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px 40px;

}

.hero-title {
  font-size: 12rem;
  font-weight: 700;
  font-style: bold;
  z-index: 2;
}

.hero-subtitle {
  font-size: 5rem;
  color: #000000;
  font-weight: 300;
  z-index: 2;
}

.mission {
  font-size: 2rem;
  position: absolute;
  right: 0;
  max-width: 400px;
  bottom: 0;
  z-index: 2;
  margin: 40px;
}

.image-placeholder {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.image-container {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: flex;
}

.about-section{
  min-height: 100vh;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section-description {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 300;
  z-index: 2;
  margin: 40px;
  max-width: 50%;
}

.hero-container{
  width: 400px;
  height: 500px;
  background-color: purple;
  display: flex;
  object-fit: cover;


  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  }

.hero-placeholder{
  width: 50%;
  margin: 40px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.projects-section{
  min-height: 100vh;
  margin-inline: 10px;
}

.title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-inline: 30px;
  margin-block-start: 200px;
  font-size: 1.5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-card{
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
}

.divider{
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-block: 10px;
}

.creative-section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.box{
  width: 100%;
  outline: 1px solid #000000;
  display: flex;
  text-align: center;
  font-size: 5rem;
}

.box:nth-child(1){
  align-items: flex-end;
  justify-content: center;
  height: 70vh;
}

.box:nth-child(2){
  position: relative;
  background-color: #1b1b1b;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
  color: #ffffff;

  h2{
    position: absolute;
  }
}

.creative-wrapper{
  bottom: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  display: flex;

  img{
    width: 100%;
    aspect-ratio: 4/3;
    height: auto;
    outline: 2px solid;
  }
}

.creative-process{
  margin-block-start: 200px;
  padding-block-end: 300px;
  h2{
    font-size: 4rem;
    padding-inline: 40px;
  }

  p{
    margin-block-start: 100px;
    max-width: 60%;
    padding-inline: 40px;
    font-size: 2.5rem;
    font-weight: 300;
  }
}

.process-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin: 20px 40px;
}

.process-card{
  display: flex;
  aspect-ratio: 3/4;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .process-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}


.contact-section{
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  padding-block: 50px;


.icon-box{
  width: 250px;
  height: 250px;
  background-color: purple;
}

.headliner{
  width: 100%;
  color: #ffffff;
  font-size: 4rem;
  padding-block: 50px;
}


.contact-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  text-align: left;
  padding-inline: 40px;

  .contact-text{
    width: 50%;
    flex: 1;
    font-size: 3rem;
  }

  .contact-placeholders{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: 1;
    text-align: left;
    height: 100%;
    align-self: flex-end;
    font-size: 2rem;
    gap: 30px;
  }
}
}


.footer-section{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  padding-block: 150px;
}

.socials{
  display: flex;
  flex-direction: column;
  font-size: 3rem;

  a{
  text-decoration-style: none;
  text-decoration-line: none;
  color: #181818;
  }
}

.copyright{
  padding: 40px;
  font-size: 1rem;
}